<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.css' />
  </head>
  <body>
      <!---insert your menu bar here-->
      <h1>This header will appear everywhere</h1></g1>
    <%- body %>
  </body>
</html>
